.App {
  text-align: center;
}

.debug-sidebar {
  border: 3px solid lightcoral;
  padding: 7.5vh;
}

.debug-searchbar {
  border: 3px solid lightskyblue;
  padding: 7.5vh;
}

.debug-dashboard {
  border: 3px solid lightgreen;
  padding: 7.5vh;
}




/*
EXAMPLE STYLES FROM THE DEFAULT APP
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*/


