.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  position: relative;
}

.debug-main-content {
  border: 3px solid green;
  position: fixed;  /* Make the sidebar fixed */
  top: 10vh; /* Position it below the fixed search bar */
  left: 20vw;
  width: calc(100vw - 20vw);  /* Sidebar takes up 25% of the width */
  height: calc(100vh - 10vh); /* Full height minus the search bar */
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 0; /* Keeps sidebar above content */
}

.debug-full-page {
  border: 3px solid rgb(0, 102, 128);
  position: fixed;  /* Make the sidebar fixed */
  top: 10vh; /* Position it below the fixed search bar */
  width: 100vw;  /* Sidebar takes up 25% of the width */
  height: calc(100vh - 10vh); /* Full height minus the search bar */
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 0; /* Keeps sidebar above content */
}

.debug-sidebar {
  border: 3px solid lightcoral;
  position: fixed;  /* Make the sidebar fixed */
  top: 10vh; /* Position it below the fixed search bar */
  left: 0;
  width: 20vw;  /* Sidebar takes up 25% of the width */
  height: calc(100vh - 10vh); /* Full height minus the search bar */
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 5; /* Keeps sidebar above content */
}

.debug-searchbar {
  border: 3px solid lightskyblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.5vh;  /* Reduce the height of the search bar */
  z-index: 10;
  background-color: #fff;  /* Optional background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Optional padding for spacing inside the search bar */
}