.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  position: relative;
}

.debug-main-content {
  border: 3px solid green;
  position: fixed;  /* Make the sidebar fixed */
  top: 10vh; /* Position it below the fixed search bar */
  left: 20vw;
  width: calc(100vw - 20vw);  /* Sidebar takes up 25% of the width */
  height: calc(100vh - 10vh); /* Full height minus the search bar */
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 0; /* Keeps sidebar above content */
}